[2021-08-18 19:09] geleeroyale opened #60 "FORM: Feature Request - make donation in someone elses name"
**What new feature(s) would you like to see on Giveth?**
I made a donation on behalf of some people and it would be nice to be able to acknowledge that and have it appear in the donation list area, either by replacing the donor's name or with an extra text field.

[2021-11-15 15:53] MoeNick opened #10 "Single Page - updates"
@MoeNick commented on [Mon Nov 15 2021](https://github.com/Giveth/giveth-next/issues/406)

[2021-11-15 15:53] MoeNick opened #11 "Single Page - Donations"
@MoeNick commented on [Mon Nov 15 2021](https://github.com/Giveth/giveth-next/issues/405)

[2021-11-29 12:14] RamRamez commented on #10
Done in PR #19

[2021-12-01 17:23] RamRamez commented on #10
In PR #19:

1. implement project updates
2. add animations to wallet menu
3. add filter by traceable to projects page

[2021-12-21 12:51] MoeNick opened #61 "Deactivate (Archive) Projects"
As a Project Manager (PM) I want to archive my project so that I can stop receiving donations.

Acceptance criteria:

Given the PM wants to take down their project, When they can click on the button to archive it (if signed In)

Then:
- the system should warn PM to confirm this action.
- PM should provide a good reason of doing this (preferably to select from a list of common reasons)
- PM should

[2021-12-22 12:44] mosaeedi opened #22 "Change Project Categories"
We need to show categories as a submenu, under Projects. but we need to pick up to 7 main categories to make it easier for users to find the thing they are looking for and not make a really long list of categories.
_Note: over than 9, is not UX-friendly at all!_

So here are my suggestions,

**Main categories:**

- Environment & Energy
- Finance &  Economy
- Health & Medical
- Technology & Educati

[2021-12-25 12:13] geleeroyale opened #65 "FORM: Feature Request"
**What new feature(s) would you like to see on Giveth?**
An easy way to contact project owners

[2021-12-29 10:45] MoeNick opened #23 "🆕 TP: Home Page"

[2021-12-29 10:47] MoeNick opened #24 "🆕 TP: Projects Page"

[2021-12-29 10:48] MoeNick opened #25 "🆕 TP: Projects Single Page"

[2021-12-29 10:48] MoeNick opened #26 "🆕 TP: Donation Page"

[2021-12-29 10:49] MoeNick opened #27 "🆕 TP: Header / Footer"

[2021-12-29 10:50] MoeNick opened #28 "🆕 TP: Registration"

[2021-12-29 10:50] MoeNick opened #29 "🆕 TP: Create Project"

[2021-12-29 10:51] MoeNick opened #30 "🆕 TP: Profile & My Account"

[2021-12-29 10:54] MoeNick opened #31 "🆕 TP: General Purposes Pages"

[2021-12-29 12:40] MoeNick opened #32 "Create a Project"
As a User, I want to create a project to start collecting funds.

You can find he design here: https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=1908%3A68916 - Create a project

This is the Design System guides: https://www.figma.com/file/d3ciTS36toS9mra0RAPMe2/Giveth-Design-System-v0.1?node-id=13%3A4

Pls note, before the user get started, we have this modal for t

[2021-12-31 00:17] laurenluz commented on #22
I think limiting the list in the filtering dropdown menu is a good idea from a UX standpoint.

I also think that, if we're going to make a shortlist of categories... maybe we consider that this could be the same categories that we use for "Causes" & "GIVmatching".

I like your suggestions Mo, but would make a few tweaks...

- **Environment & Energy**: _Agriculture, Air, Climate, Energy, Land, Ocea

[2021-12-31 00:49] WhyldWanderer commented on #22
Just to comment.. i like where this is going and it leads in the dirextion of causes which is one of the next thing on the roadmap.

I think that projects should still be able to choose from all of the subcategories when making their project. But when it comes to filtering or causing we would use the over-arching categories.

I think this is line with what you guys are saying.. i just wanted to ge

[2022-01-05 11:08] MoeNick opened #33 "TP: New login / log out flow"
Based on:
https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=3515%3A96868
and out Design System : https://www.figma.com/file/d3ciTS36toS9mra0RAPMe2/Giveth-Design-System-v0.1?node-id=12%3A2

- [x] Menu should open with hover.
- [x] GIV button have to be shown.
- [x] Show "SIGN IN" instead of connect wallet
- [x] Sign out should be disappear if user is not signed in
-

[2022-01-05 11:20] MoeNick opened #34 "TP: Reward Menu"
As a user, I want to see the numbers below GIV button in the header like this:
![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/f9334966-e32c-46f4-8766-b1ca04e14e2e)

The design with responsiveness guides are available here: https://www.figma.com/file/d3ciTS36toS9mra0RAPMe2/Giveth-Design-System-v0.1?node-id=13%3A4

It will load on hover in desktop view and tap in mobile v

[2022-01-05 11:25] MoeNick opened #35 "TP: Footer"
- [x] All of Social links are broken.
- [x] Link if Support us with your Donation - revolution.eth is broken

[2022-01-05 11:27] MoeNick opened #36 "SIgn-IN / Registration"
Based on :
https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=2354%3A78970

in this section:
SIGN-IN / Registration

First time of signing-in user have yo see this:
![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/dd1ef1d6-d8c3-4ec6-bf1c-62a5ab2087bc)

The user has to select that want to login with Ethereum or not, if select login with Ethe

[2022-01-05 12:20] MoeNick opened #37 "Links on support page is broken"

[2022-01-05 12:20] MoeNick opened #38 "Partner page needs to be finalized and links need to get updated"

[2022-01-05 12:23] MoeNick opened #39 "Giving Hearts is not working"

[2022-01-05 12:28] MoeNick opened #40 "Customize Formatic Wallet for signing / registration"

[2022-01-05 12:37] MoeNick opened #41 "User Profile public page"
As a user, I want to see other PMs or other users' data, I need to see their projects, donations, and also liked projects.

# Design resources

- [Public profile | Projects tab](https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=3863%3A103757)

- [Public profile | Donations](https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=3867%3A10

[2022-01-05 12:46] MoeNick opened #42 "Link to user profile is missed"
As a user, I want to see the public profile of any user when I click on their name.
In these pages the links should get updated:

- [x] Home Page
- [x] Projects List
- [x] Single Project
- [x] Donation Page

[2022-01-05 12:47] MoeNick opened #43 "Implement twitter modal: Start Giving"

[2022-01-05 12:50] MoeNick opened #44 "Design for Success newsletter subscribtion"
We had such a thing from the old design:
![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/0f6c7a21-d773-4737-8ddf-6a21daedbfa7)

[2022-01-05 13:13] MoeNick opened #45 "Implement Subscribing to Newsletter"

[2022-01-05 16:09] MoeNick opened #46 "Search Box Problems - Styles (also clear box) and No results found."
UX UI problems which is not implemented yet.

- [x] According to designSystem: https://www.figma.com/file/d3ciTS36toS9mra0RAPMe2/Giveth-Design-System-v0.1?node-id=13%3A4
Under components section. Search result and clear search box should follow the design:
![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/bde793c3-0097-4226-919c-9fdab6fed5b8)

- [x]  If "No results found:.

[2022-01-05 16:30] MoeNick opened #47 "de-bounce search after just 2 characters"
Live Searching should start after 2 characters is entered.

[2022-01-05 17:34] MoeNick opened #48 "Sort By: should be like what we have right now in next: Newest / Oldest / same queries"

[2022-01-05 17:47] MoeNick opened #49 "SortBy amount raised: use another query with trace donation counted."
Related to https://github.com/Giveth/impact-graph/issues/285

[2022-01-05 17:56] MoeNick opened #50 "Our Team Page needs to get updated"
https://giveth-dapps-v2.vercel.app/about

[2022-01-05 18:02] MoeNick opened #51 "History Tab content"
https://typescript.giveth.io/about
History tab needs more content

![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/f299210d-1cc5-4662-8163-df51e9f9b5e8)

[2022-01-05 18:06] MoeNick commented on #50
@divine-comedian It needs some QAing and newer content if available, Appreciate if you can leave your comments here.

[2022-01-05 18:13] MoeNick opened #52 "Toast Errors Should be based on Design System."

[2022-01-05 18:14] MoeNick opened #53 "Validation Errors (client side) should be like system design"

[2022-01-05 18:15] MoeNick opened #54 "Implement Modals: insufficient fund"
You can find the design here under Modal section:
https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=3515%3A96868

![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/1857253a-e7bf-4c82-a801-a85d1b841c8c)

[2022-01-05 18:18] MoeNick opened #55 "Impalement Completing Profile Notification Modal"
![image](https://user-images.githubusercontent.com/80677512/148268461-691216d2-27b8-43c7-a0cc-42823a964dab.png)

You can find it in Figma, under Modals section.

[2022-01-05 18:41] laurenluz opened #56 "Get rid of contentful"
Right now we use contentful for the FAQ & team pages. Maybe others? @WhyldWanderer @divine-comedian would know

The comms team would love to get rid of contentful and just be able to update the content in the code instead.

This should also improve the efficiency of the DApp!

[2022-01-06 06:18] RamRamez commented on #56
@laurenluz In typescript version the contentful is completely removed. All the content is on `/src/content`

[2022-01-06 13:56] MoeNick commented on #56
just fyi or you can test and say if it has a problem,
@divine-comedian @mateodaza

[2022-01-06 14:32] geleeroyale opened #57 "SortBy: My Favorites ? ideas?"
**What new feature(s) would you like to see on Giveth?**
Hi, I gave some projects I like a heart with the idea I could easily come back to them later to donate. I thought of it like a bookmark. But when I sort by hearts it shows projects with the most hearts. That is nice too, but would it be possible to add something like sorting by "My hearts" that would show the projects that I gave a heart? Th

[2022-01-06 15:57] MoeNick commented on #57
@markoprljic we can easily add sort-by "my favorites" in sort-by drop-done menu.
What do you think?

[2022-01-06 16:01] CarlosQ96 commented on #57
I actually kind of like this idea. Would query by projects the person gave a heart reaction to, not complicated to do. @MoeNick

[2022-01-06 16:15] geleeroyale opened #64 "Have a feed of the latest project updates displayed somewhere on the DApp."
**What new feature(s) would you like to see on Giveth?**
Have a feed of the latest project updates displayed somewhere on the DApp.

[2022-01-06 18:41] laurenluz commented on #56
oh NICE

[2022-01-06 19:46] pkretzschmar commented on #35
Hey @MoeNick! Could you send me the donate link? Thanks!

[2022-01-07 12:03] MoeNick commented on #35
@pkretzschmar Hi. Happy to have you here. Here you are:{test or live env}/donate/the-giveth-community-of-makers

Pls note whenever you find broken links it should be like what we have on giveth.io

[2022-01-07 20:38] RamRamez commented on #34
PR #59

1. transfer new header features from next version to typescript
2. some improvements on responsiveness
3. sign-in sign-out is still WIP

[2022-01-10 13:34] MoeNick commented on #61
Let's move it to new typescript repo to avoid confusion.

[2022-01-10 15:17] MoeNick commented on #46
@markoprljic the no result design is needed here I think.

[2022-01-10 15:22] MoeNick commented on #55
Adding to this, As a user I need a modal to have some inputs to enter my profile items in. I think it's missing @mosaeedi @markoprljic

[2022-01-10 15:22] MoeNick opened #62 "Edit Profile Modal"
As user, I may need to edit my profile items, like Name, Email, Location or picture.

# Design resources

- [Edit profile | Empty form](https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=3922%3A106144)

- [Edit profile | Filled form](https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=3977%3A143531)

---

- [Edit profile | Upload photo

[2022-01-10 16:03] pkretzschmar commented on #35
@MoeNick hey Moe, I fix the donate link! But after the redirect, it seems that the page doesn't exist.

[2022-01-10 19:08] geleeroyale opened #63 "FORM: Feature Request"
**What new feature(s) would you like to see on Giveth?**
A way for project owners to thank donors through Giveth

[2022-01-10 20:48] MoeNick commented on #35
@pkretzschmar I couldn't test it on typescript.giveth.io, I think the PR is still open and did not merge.

[2022-01-10 21:42] MoeNick commented on #35
Move it back to inprogress

[2022-01-10 21:42] divine-comedian commented on #56
amazing!!

[2022-01-12 11:34] markoprljic commented on #57
Yes, adding a sort filter is one thing we can add right away.
Also, in My Account there should be a list of all "Liked" projects.

[2022-01-12 14:42] mosaeedi commented on #62
I'm going to add the designs asap!

[2022-01-12 14:43] mosaeedi commented on #41
I'm going to add the designs asap!

[2022-01-12 15:08] laurenluz opened #83 "In Brave: Add popup for torus login users telling them to lower shields"
As a Brave user, when I need to use Torus, I need to have the warning to turn of my shield and let the cookies on in the setting, so I can be able to use Torus on Brave.

---

# Design resources

- [Lower shield modal](https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=4401%3A113332)
---

[2022-01-12 15:47] MoeNick commented on #83
I would transfer it to typescript and let the design team lead it. Then we can split it into 2 different issues.
Shall We?

[2022-01-12 19:14] MoeNick commented on #27
pls do not move epics.
move it back to the Epics pipline

[2022-01-12 19:18] MoeNick commented on #11
is it ready for test?

[2022-01-13 18:26] laurenluz commented on #83
sounds great! take it away :)

[2022-01-13 20:16] #35 closed, assigned to pkretzschmar

[2022-01-17 08:56] MoeNick opened #68 "Onboarding"
As a user want to complete my profile if I don't have any, and I need to get onboarded during how to complete my profile, so I will be able to create a project and see the details of my account tabs as well.

# Design Resources

## Documentations
- [Whimsical Link](https://whimsical.com/registration-onboarding-XnuGg5MYDJyQpM94UyLppA)

## Figma Design

1.1. [Onboarding start | Empty form](https://w

[2022-01-17 09:08] MoeNick opened #69 "MyAccount Overview"
[Over View Page Design](https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=3889%3A104687)

Elements:

- [ ] Short Profile Description
- [ ] Donations total amount / total count - Amount should be calculated based on the USD value of currant
- [ ] Total projects

[2022-01-17 09:09] MoeNick opened #70 "My Account | Donations"
As us user I want to see list my donations and the USD value of them.

# Design resources

- [My donations tab](https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=4393%3A112100)

Note: for the current state we only have the sorting on the table, we'll add filtering in the next sprints.

[2022-01-17 09:09] MoeNick opened #71 "My Account | Projects"
As a Project Owner, I would love to see all of my donations and their status on a list.

# Design resources

- [My projects tab](https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=3898%3A104982)

_Note: for the current state, we only have the sorting on the table, we will add the Filters in the next sprint_

[2022-01-17 09:10] MoeNick opened #72 "My Account | Liked Projects"
Me as user, want to see my liked projects in a list, so I can take a look at them later.

# Design resources
- [Liked projects tab](https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=3898%3A119902)
---

[2022-01-17 15:11] MoeNick opened #73 "Toast Errors Components"

[2022-01-17 15:30] MoeNick opened #74 "Giving hearts and red hearts is not working."

[2022-01-17 15:39] MoeNick opened #75 "Share modal on HomePage"

[2022-01-17 15:58] MoeNick opened #76 "Donation Improvement"
- [ ] GIVbackWL warning
- [ ] GIVback  after success donation
- [ ] Custom Token donating

[2022-01-17 17:00] #33 closed, assigned to pkretzschmar

[2022-01-17 17:00] #36 closed, assigned to pkretzschmar

[2022-01-17 17:01] #37 closed, assigned to pkretzschmar

[2022-01-17 17:05] MoeNick commented on #61
@mosaeedi after archiving design needed

[2022-01-17 18:56] markoprljic commented on #83
@MoeNick Transfer to typescript and provide more info on this scenario in order to provide a good feedback message to the user. Thanks.

[2022-01-17 19:37] MoeNick commented on #38
@divine-comedian @laurenluz can you guys help me find out right content for it?

[2022-01-17 20:00] MoeNick commented on #38
@pkretzschmar we decided to moe to scrum, So appreciate if you can provide estimations, so I can have a clue on managing issues and planning the milestones
Thanks

[2022-01-17 20:19] MoeNick opened #81 "Warn user when donating with not-whitelisted GIVbacks token"
@markoprljic the GIVbacks token list is the same as our drop-down list of tokens (right? @mateodaza @mohammadranjbarz) so the tokens that won't be eligible are ones that user copy/pastes in the address for. I don't think we need to have the "all" and "GIVbacks eligible" selectors.

I do think we should keep the message "This Token is/is not eligible for GIVbacks Learn more"

I also totally underst

[2022-01-17 20:39] playingleela commented on #22
hey everyone! I hope you are doing good! the banners are attached bellow, tell me what you think and keep me posted if it needs any changes (: thank you
<img width="1440" alt="categories banner 1 (1)" src="https://user-images.githubusercontent.com/94190369/149834519-9e56b2a0-8986-4491-a7e8-19e83b2dfc97.png">
<img width="1440" alt="categories banner 2 (1)" src="https://u
<img width="1440" alt="cate

[2022-01-17 20:53] MoeNick commented on #22
How pretty are them 💜

[2022-01-17 21:17] divine-comedian commented on #38
all of this info is stored in contentful right now, is that what you're asking?

[2022-01-18 08:34] MoeNick commented on #75
@MohammadPCh @mateodaza do you have any idea about using a plug-in?
if we want to custom it we need help from @mosaeedi

[2022-01-18 08:35] MoeNick commented on #62
I have to add my comments here.

[2022-01-18 08:44] MoeNick commented on #55
- [x] Right After trying to create/edit a new project if the user don't have a profile

- [x] When a  user with incomplete profile open the my account / my project/ my donation page, it pops up.

[2022-01-18 08:48] MoeNick commented on #44
![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/8ee7541e-39a9-47cc-ba07-605508983883)

[2022-01-18 08:51] MoeNick commented on #44
https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=4016%3A111381

[2022-01-18 08:54] MoeNick opened #82 "Update xDAI network to Gnosis and it's logo EVERYWHERE"
https://www.figma.com/file/d3ciTS36toS9mra0RAPMe2/Giveth-Design-System-v0.1?node-id=333%3A41275

[2022-01-18 09:20] #39 closed, assigned to nobody

[2022-01-18 09:33] markoprljic commented on #22
Looking good!
Technology need better contrast on the text.

I'd try another round with new style using sample stock photos. I'd explore that style a bit, what do you think?
Maybe also another style with hand drawn elements.

[2022-01-18 12:40] playingleela commented on #22
glad you like it @MoeNick (:
okay @markoprljic just started to work on another round

[2022-01-18 13:06] MoeNick commented on #22
I had bunch of questions in product side:

- [ ] we gonna change the categories to them, so we have to replace them instead of currant labels, right?
- [ ] Do we gonna keep the sorting by categories as like we have in design right now? (drop down menu)  so if the user filter it by a certain category, this banner will show up on the project page? Am I right?
- [ ] do we need new labels on project o

[2022-01-18 14:41] playingleela commented on #22
The tecnology one with more contrast
<img width="1440" alt="categories banner 4 (3)" src="https://user-images.githubusercontent.com/94190369/149958552-85ce0b6c-24a1-4680-93ce-0bd16b8e082f.png">

[2022-01-18 14:43] playingleela commented on #22
Second round with stock images:
<img width="1440" alt="categories banner 7" src="https://user-images.githubusercontent.com/94190369/149958816-030f4170-0987-48f3-ac37-ccd0bd8dcfc3.png">
<img width="1440" alt="categories banner 7" src="https://user-images.githubusercontent.com/94190369/149958824-3e37681f-2cf0-49a4-b2d7-e0581e9b35ef.png">
<img width="1440" alt="categories banner 8" src="https://user-

[2022-01-18 16:36] laurenluz commented on #22
Can we change "Heath and Medical" to "Health & Wellness"? Considering the categories are food, health & nutrition, I think "medical" is sort of misplaced (I didn't catch this before).

Also, I think the stock photos are cool, but if we go with them we should choose more uplifting images!

I would definitely suggest changing the Health one to something with a better vibe than injections and heart m

[2022-01-18 16:43] laurenluz commented on #83
The issue is basically that torus users will run into issues (things just won't work as expected) unless they "lower shields" on brave (maybe other browsers too?). There is an issue to add this to the documentation in comms: https://github.com/Giveth/giveth-planning/issues/451

The idea is that when a user tries to login with torus, they get a popup that tells them something like "Please lower shi

[2022-01-18 16:44] playingleela commented on #22
thank you @laurenluz for the feedback!! I will send you those two soon

[2022-01-18 16:57] mateodaza commented on #83
Yes exactly, but only for Brave browser. It is also recommended to allow cookies. I've noticed that the shield is not enough sometimes

[2022-01-18 17:09] playingleela commented on #22
here are the changes @laurenluz  let me know if now is good or if it needs any changes.. thanks everyone!
<img width="1440" alt="categories banner 13 (1)" src="https://user-images.githubusercontent.com/94190369/149984742-2bc3c312-9caf-4844-bccf-053b9fd1a055.png">
<img width="1440" alt="categories banner 15 (1)" src="https://user-images.githubusercontent.com/94190369/149984793-006a890e-a583-4853-b8

[2022-01-18 17:27] mosaeedi opened #88 "Give heart optimization"

[2022-01-18 17:27] mosaeedi opened #87 "Donation Cart"

[2022-01-18 18:03] laurenluz commented on #83
Is there some easy way from a dev standpoint to know if the user is on Brave then? because perhaps the popup won't make any sense if they are on chrome, for example.  @mateodaza

[2022-01-18 18:04] mateodaza commented on #83
Yeah, that's totally possible. We can make that condition to only be seen on Brave browsers @laurenluz

[2022-01-18 18:49] laurenluz commented on #83
ok @markoprljic so what we need is... if the user is on brave browers, and they select torus wallet they get a popup that says:

"Please lower shields on your browser in order to use Giveth with your Torus Wallet. Learn more."

And learn more connects to our issue in: Giveth/giveth-planning#451

[2022-01-19 08:45] markoprljic commented on #22
I'd love to see better image treatment, not just putting it in the background. What I mean by that is the following...
![Image 2022-01-19 at 9 40 56 am](https://user-images.githubusercontent.com/5704285/150094556-bee264b1-90d9-469b-9a5e-55aec3100854.jpg)

More inspiration on brand creative:
https://www.pinterest.com/pin/211174969810452/
https://www.pinterest.com/pin/5840674506531419/
https://www.p

[2022-01-19 09:14] playingleela commented on #22
got it @markoprljic will start another round with those inspirations (: thank you!

[2022-01-19 11:44] markoprljic commented on #81
https://github.com/Giveth/giveth-next/issues/606#issuecomment-1011028740

[2022-01-19 11:50] markoprljic commented on #83
@mosaeedi Please update the Modals component so that devs have a reusable component to choose from for this and similar use cases https://www.figma.com/file/d3ciTS36toS9mra0RAPMe2/Giveth-Design-System-v0.1?node-id=1327%3A55799

@laurenluz @MoeNick As soon as the Modal component is done devs can implement this and close the issue.

[2022-01-19 11:53] MoeNick commented on #45
https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=4016%3A111381
@pkretzschmar here is the design. FYI

[2022-01-19 12:57] playingleela commented on #22
<img width="1440" alt="categories banner 17" src="https://user-images.githubusercontent.com/94190369/150134856-dc5ed8c6-4428-41c3-a852-0ed4bcc831a7.png">
<img width="1440" alt="categories banner 16" src="https://user-images.githubusercontent.com/94190369/150134883-3b59fb23-867b-4a08-a8fa-1a4ae640a507.png">
<img width="1440" alt="categories banner 22 (1)" src="https://user-images.githubusercontent.

[2022-01-19 12:59] playingleela commented on #22
hey everyone, what you all think?
@markoprljic let me know if its the direction you were looking for, thanks!

[2022-01-19 13:32] markoprljic commented on #22
What do YOU think @playingleela ? :)

[2022-01-19 13:55] divine-comedian commented on #50
I made a fresh call for team member updates and have been updating them in my local branch

[2022-01-19 14:30] mosaeedi commented on #61
@MoeNick Design resources added.

[2022-01-19 15:08] mosaeedi opened #89 "unarchiving a project"

[2022-01-19 16:34] mosaeedi opened #85 "Activate (Unarchive) project"
As a Project Manager, want to activate my deactiveated project again, so I can be able to recieve funds.

When a project is archived, the owner can unarchive the project, but the project will be unlisted and they had to go through the verification process again.

### Design resource

Start from here -> [project side card](https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?n

[2022-01-19 16:56] MoeNick opened #84 "Backend: Provide Reasons to deactivating the projects."
As an Admin, I need to know the reasons for deactivating the projects by the user.
![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/57cb9f49-3936-4d23-b2e3-b5946232779d)

The values are :
- The project has completed its goals!
- The project is no longer in need of funding.
- The project is no longer active.
- The project was made by mistake.
- Other / Prefer not to say.

[2022-01-19 18:59] playingleela commented on #22
I liked it @markoprljic (: It was nice to work with those colors that we don't use so often, exploring the color scheme and I thought the pictures fits pretty good with the giveth shapes. I think is the best version that we reached so far

[2022-01-19 20:54] MoeNick commented on #76
@mateodaza pls make sure you see the latest design provided:
https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=3832%3A102350

[2022-01-19 21:11] laurenluz commented on #22
I think playing with the shapes and images is really cool - they look really cool!! - but they feel a little dark. A little edgy/cold (and in the case of technology, a little creepy). maybe we could keep the structure and change some of the stock photos? I'll make some more suggestions.

1. Heatlh & wellness - I like this one!
2. Environment & energy - I think the black/grey colour for the nature

[2022-01-19 22:47] laurenluz commented on #84
- The project has completed its goals!
- The project is no longer in need of funding.
- The project is not longer active.
- The project was made by mistake.
- Other / prefer not to say.

@WhyldWanderer - what do you think?

[2022-01-19 23:25] WhyldWanderer commented on #84
I think those are great!!...
I think we used the term deactivate before but this will be essentially the same action right?

[2022-01-20 06:49] MoeNick commented on #84
Yes. But what you prefer? "active - diactive" terminology?
And we have canceled which is happening by the admin, it's another else.

[2022-01-20 08:44] MoeNick opened #86 "Logo of Docs should change in the footer"
Here is the link to the design system.
https://www.figma.com/file/d3ciTS36toS9mra0RAPMe2/Giveth-Design-System-v0.1?node-id=1673%3A58961

[2022-01-20 14:18] WhyldWanderer commented on #84
I think 'deactive' is a fine term... I just wanted to make sure I correctly understood the function behind it

I cant think of any other reasons than the ones Lauren already suggested.

[2022-01-20 19:12] laurenluz commented on #22
Nice! looking great @playingleela!
Would definitely wait for feedback from @markoprljic I'm not 100% sure if this is also aligned with his ideas

The only other thing I'd say from my side for sure if the energy & environment one is a little confusing - not sure what the picture is showing! maybe swap this one?

They're looking cool! I love the infrastructure one

[2022-01-21 09:24] playingleela commented on #22
nice @laurenluz its leafs but I see your point, i will change it rn (:

[2022-01-21 10:07] playingleela commented on #22
wdyt now @laurenluz?
<img width="1440" alt="categories banner 16 (4)" src="https://user-images.githubusercontent.com/94190369/150508192-73746419-2bf6-4351-b395-0433c7e8c675.png">

[2022-01-21 10:08] playingleela commented on #22
@markoprljic any feedback on them? thanks (:

[2022-01-21 10:26] markoprljic commented on #22
Thank you @playingleela and @laurenluz for pushing through this. If I look at this from the overall brand perspective I still think we're not there yet and I'd like to test out few more options.

Let's leave this as is for now until we explore further.

[2022-01-21 14:15] playingleela commented on #22
hey @markoprljic just checked your message. I was already working on one more round so I will send it over but for me I could keep exploring it without a problem till we arrive in a satisfying result to everyone while communicating the brand perspective. keep me updated (: Thank you!

[2022-01-21 14:16] playingleela commented on #22
<img width="1440" alt="categories banner 24" src="https://user-images.githubusercontent.com/94190369/150541864-c8a3ef5a-91e4-4eb7-b447-5c19f7ef0f7e.png">
<img width="1440" alt="categories banner 23" src="https://user-images.githubusercontent.com/94190369/150541888-b31e5ca0-2628-4be8-96e0-cf22f4fff53c.png">
<img width="1440" alt="categories banner 25" src="https://user-images.githubusercontent.com/

[2022-01-21 15:24] markoprljic commented on #22
Yes, getting closer 🙂
Now try removing things until you can't remove anything to make it cleaner, not so busy.

[2022-01-21 15:26] markoprljic commented on #22
Those small half circles on text is nice treatment.
We don't need giveth logo because this will be on the website.
Letter spacing on titles is too high.

[2022-01-21 21:02] laurenluz commented on #22
Love the coral background image @playingleela ! I like all the stock images in the last round. The vibes are high!
@markoprljic your comments are always so interesting and on-point - I feel like I get to learn about design just by watching your conversation. Thank you both!

[2022-01-22 08:26] RamRamez commented on #46
[This search box](https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=1908%3A67157) doesn't have the left arrow but [here ](https://www.figma.com/file/d3ciTS36toS9mra0RAPMe2/Giveth-Design-System-v0.1?node-id=13%3A4) it has.
Which one should be implemented and what's the function of the arrow?

[2022-01-23 12:28] RamRamez commented on #46
Resolved in PR [#11](https://github.com/Giveth/giveth-dapps-v2/pull/11) in V2 repo

[2022-01-24 10:49] playingleela commented on #22
<img width="1440" alt="categories banner 24 (1)" src="https://user-images.githubusercontent.com/94190369/150769385-605983a8-2bfe-4ea5-938a-c180fcfb2380.png">
<img width="1440" alt="categories banner 23 (1)" src="https://user-images.githubusercontent.com/94190369/150769410-df839eb2-d118-4f55-956e-2dcecf76c35e.png">
<img width="1440" alt="categories banner 29" src="https://user-images.githubusercont

[2022-01-24 14:06] aminlatifi commented on #54
Needs some components first implemented in design-system. Specifically modal header

[2022-01-24 14:13] markoprljic commented on #22
@playingleela I left some comments in the Figma. I'm testing this out in the header, here's a preview for one category.
<img width="1442" alt="Screenshot 2022-01-24 at 15 05 51" src="https://user-images.githubusercontent.com/5704285/150797652-adfa17c1-b47e-49d3-98f8-4de42ab4bc8a.png">

[2022-01-24 14:37] playingleela commented on #22
thank you! here it goes
<img width="1440" alt="categories banner 35" src="https://user-images.githubusercontent.com/94190369/150802987-897d8985-f5a8-4430-8782-b3749c1b18af.png">
<img width="1440" alt="categories banner 36" src="https://user-images.githubusercontent.com/94190369/150802998-af9915d6-7149-4d28-b5ed-be3e666f03b1.png">
<img width="1440" alt="categories banner 37" src="https://user-image

[2022-01-24 16:24] mohammadranjbarz commented on #49
related to #305

[2022-01-24 16:25] mohammadranjbarz commented on #49
@MoeNick
Do you mean UI?
because the backend implemented in  Giveth/impact-graph#285

[2022-01-25 08:30] MoeNick commented on #62
@mosaeedi appreciate if you can provide links and make it tidy as well.

[2022-01-25 08:33] MoeNick commented on #41
@mosaeedi pls provide links

[2022-01-25 13:19] markoprljic commented on #62
@MoeNick https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=3922%3A105825

[2022-01-25 13:20] markoprljic commented on #41
@MoeNick https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=3863%3A103757
Donations table might slightly be adjusted the style, but other than that it's all there.

[2022-01-25 15:29] mosaeedi opened #90 "My account | Overview"
I as a user want to see an overview of my account to have a summary of what is related to me, from my profile to managing projects and donations as a dashboard.

# Design resources

- [My account - Overview | _No donation / No project / No profile_](https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=4393%3A113594)

- [My account - Overview | _No donation / No projec

[2022-01-25 16:29] mosaeedi commented on #61
@MoeNick, it's updated.

[2022-01-25 16:48] #87 closed, assigned to nobody

[2022-01-26 20:24] MoeNick commented on #45
@pkretzschmar can you pls provide estimations to this issue?

[2022-01-26 20:36] MoeNick commented on #54
I cant see the PR, is it testable right now? would u pls move it in the pipeline @aminlatifi

[2022-01-26 20:40] aminlatifi commented on #54
@MoeNick No, I have prepared the icons and modal headers in design system

[2022-01-26 21:16] MoeNick commented on #48
@pkretzschmar I think the value of the drop-down list is not changed. it should be:

- Amount Raised
- Accepts GIV token
- Hearts
- Newest
- Oldest
- Verified
- Traceable

Also, they should call the same queries we have on next.giveth.io .

[2022-01-27 13:04] MoeNick commented on #54
@mateodaza fyi integration with Donation Page

[2022-01-31 08:40] MoeNick commented on #46
It has a bug when clicking on back.

[2022-01-31 16:40] MoeNick commented on #76
DoD: without Toas Errors

[2022-01-31 16:55] MoeNick commented on #61
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/All-Devs-61644589b92edf0016f6999c/issues/Giveth/giveth-io-typescript/61?planning-poker) with ZenHub @pkretzschmar

[2022-01-31 23:48] laurenluz commented on #51
Hey @MoeNick, looking at this page... the "About Us" text blurb (also missing content) is really not needed... everything is covered in the part above and the mission/vision part below... This would just be some kind of fluff we'd need to make up

![image](https://user-images.githubusercontent.com/75490971/151890618-4cd8b1ff-49c1-4ae7-be82-8bab4625e494.png)

As for the History....

![image](https:

[2022-02-01 01:15] laurenluz commented on #51
So since there are three parts...

**Rising out of the ashes of TheDAO**
The Giveth founding team was a group of altruistic whitehat hackers who set out to build systems to turn non-profits into DAOs of their own, starting with platforms for P2P giving on the blockchain.

**Starting with traceable donations"
After writing and open-sourcing innovative smart contracts like the MiniMe token, the team

[2022-02-01 01:27] laurenluz opened #91 "Design new banner photo for the About Us page"
Right now it is [this super outdated photo](https://typescript.giveth.io/about)... it doesn't do justice to our current team of rockstars at all... I strongly suggest we update it in the new version. sure it's a nice photo, but it is not a photo "about us"... you could just as easily put a random stock photo and photoshop Griff into the middle of it.

@markoprljic a while ago I suggested making so

[2022-02-01 15:35] MoeNick commented on #41
@CarlosQ96 According to Mohammad the backend of sorting donations with pagination is included in this Story.
Sorting should be on Amount, UDS Amount and date, both ascending / descending. (Auto test is also included)

[2022-02-01 15:47] MoeNick commented on #84
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/All-Devs-61644589b92edf0016f6999c/issues/Giveth/giveth-io-typescript/84?planning-poker) with ZenHub @mohammadranjbarz @CarlosQ96

[2022-02-01 18:38] CarlosQ96 commented on #84
For some reason I can't add an estimate so i'll go with 5 points.

[2022-02-01 20:46] #44 closed, assigned to MoeNick

[2022-02-01 20:49] MoeNick commented on #48
@pkretzschmar only values in sort by should change, please read the above comments. Also, the border of all text boxes and drop-down menu, when pressed, should be purple, according to the design system.

[2022-02-01 21:13] MoeNick commented on #38
@MohammadPCh
@pkretzschmar did this page move to V2 version? I can't see it in V2 cause the footer links are broken:
https://typescript.giveth.io/partnerships

[2022-02-01 21:15] MoeNick commented on #46
Pressed is not following design system, also no result appears in left of the screen.
there is a tiny bug which I can't get back to main page when I click on <- button.

[2022-02-01 21:17] MoeNick commented on #45
Tested and worked nice. Thanks @pkretzschmar
Moved it to done.

[2022-02-01 21:17] pkretzschmar commented on #38
@MoeNick just checked here, it's not updated with my last changes.

[2022-02-04 10:33] RamRamez commented on #46
Done in PR [#40](https://github.com/Giveth/giveth-dapps-v2/pull/40)

[2022-02-07 11:08] mohammadranjbarz commented on #84
@pkretzschmar

Hey Pedro
For this issue
I added a new query in backend ( it's still in code review https://github.com/Giveth/impact-graph/pull/353, but I give you the spec, so you can start implementing)

[code]

Response is like this:
[code]

So we have some reasons for some statuses, when user wants to deactivate the project, you get the reasons and show the reasons with `status.id:6`
and then f

[2022-02-07 12:47] divine-comedian opened #92 "Update partnerships page"
there's been quite a few changes to our partnerships - this is a reminder to update our partnerships on the page to reflect what is currently on https://giveth.io/partnerships

content for this page can all be found on contentful.

![image.png](https://images.zenhubusercontent.com/5fff1c86d883b3d9a858ddbc/d0176168-98cd-44ec-b1ac-093e5fda3d15)

[2022-02-07 12:58] MoeNick commented on #76
Testing on Preview:

1- Design of Project Card, the background should change:
![image](https://user-images.githubusercontent.com/80677512/152785644-245bc3fb-f729-44da-be43-f00cf6252eda.png)

To Be:
![image](https://user-images.githubusercontent.com/80677512/152785857-c697f0a4-4074-45ee-a44e-5e7584e8caf0.png)

2- I can't see "Save on gas fees, switch to xDAI network." in non-giving block project.

[2022-02-07 13:13] MoeNick commented on #76
Functional Testing:

1- Rounding policy: let's show 6 digit numbers if the amount is tiny
I selected 0.00001 and the conformation I see is this:
![image](https://user-images.githubusercontent.com/80677512/152793462-a92b654c-51c6-47d5-98b6-3fd2a53ca077.png)

2- if zero provided for digits prior to dot, only one should get ccepted as normal number behavior.
![image](https://user-images.githubusercon

[2022-02-08 08:48] mohammadranjbarz commented on #41
@MohammadPCh

The backend side is implemented by @CarlosQ96  and is on staging,
you can use this query to get donations of a user:

[code]

https://github.com/Giveth/impact-graph/pull/352#issuecomment-1032253933

[2022-02-08 10:16] mohammadranjbarz commented on #41
@MohammadPCh  And @CarlosQ96 implemented

[code]
https://github.com/Giveth/impact-graph/pull/352#issuecomment-1032253035
as well

[2022-02-08 11:09] MohammadPCh commented on #41
Thanks guys @CarlosQ96 @mohammadranjbarz

[2022-02-09 06:57] mohammadranjbarz commented on #84
@MoeNick  It's ready now, you can activate/deactivate your project and see the history record for them in admin bro, When front is ready the client can send reasonId as well,  we can (I suggest) create another issue to create record when status change happens by admin ( from admin bro panel)

![Screen Shot 1400-11-20 at 10.26.37.png](https://images.zenhubusercontent.com/5fa7ed7fb0994323d1a66034/8d

[2022-02-09 06:58] mohammadranjbarz commented on #84
@pkretzschmar  The changes that I mentioned before is on staging now

[2022-02-09 15:51] mateodaza commented on #69
Issue moved to [Giveth/giveth-dapps-v2 #43](https://github.com/Giveth/giveth-dapps-v2/issues/43) via [**ZenHub**](https://www.zenhub.com/)

[2022-02-09 15:51] #69 closed, assigned to nobody

[2022-02-09 15:52] #70 closed, assigned to MoeNick

[2022-02-09 15:52] mateodaza commented on #70
Issue moved to [Giveth/giveth-dapps-v2 #44](https://github.com/Giveth/giveth-dapps-v2/issues/44) via [**ZenHub**](https://www.zenhub.com/)

[2022-02-09 15:52] #71 closed, assigned to MoeNick

[2022-02-09 15:52] mateodaza commented on #71
Issue moved to [Giveth/giveth-dapps-v2 #45](https://github.com/Giveth/giveth-dapps-v2/issues/45) via [**ZenHub**](https://www.zenhub.com/)

[2022-02-09 15:52] mateodaza commented on #72
Issue moved to [Giveth/giveth-dapps-v2 #46](https://github.com/Giveth/giveth-dapps-v2/issues/46) via [**ZenHub**](https://www.zenhub.com/)

[2022-02-09 15:52] #72 closed, assigned to MoeNick

[2022-02-14 09:22] MoeNick commented on #84
@pkretzschmar can you approve the backednd?

[2022-02-14 09:26] MoeNick commented on #48
@pkretzschmar test not passed, move it back to in progress.

[2022-02-14 09:34] #40 closed, assigned to nobody

[2022-02-14 12:03] #52 closed, assigned to nobody

[2022-02-14 12:11] #57 closed, assigned to nobody

[2022-02-14 12:13] MoeNick commented on #68
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/All-Devs-61644589b92edf0016f6999c/issues/Giveth/giveth-io-typescript/68?planning-poker) with ZenHub @mateodaza @MohammadPCh @pkretzschmar @RamRamez

[2022-02-14 12:22] #47 closed, assigned to nobody

[2022-02-14 12:29] MoeNick commented on #50
@divine-comedian I can test it here https://giveth-dapps-v2.vercel.app/about
Can you have a PR and make the edits to team tab?

[2022-02-14 12:31] MoeNick commented on #51
@mosaeedi can you see how we can have the content from Lauren implemented in the design? can you confirm pls?

[2022-02-14 12:50] MoeNick commented on #82
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/All-Devs-61644589b92edf0016f6999c/issues/Giveth/giveth-io-typescript/82?planning-poker) with ZenHub @mateodaza @MohammadPCh @pkretzschmar @RamRamez

[2022-02-14 12:51] MoeNick commented on #85
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/All-Devs-61644589b92edf0016f6999c/issues/Giveth/giveth-io-typescript/85?planning-poker) with ZenHub @mateodaza @MohammadPCh @pkretzschmar @RamRamez

[2022-02-14 12:51] MoeNick commented on #55
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/All-Devs-61644589b92edf0016f6999c/issues/Giveth/giveth-io-typescript/55?planning-poker) with ZenHub @mateodaza @MohammadPCh @pkretzschmar @RamRamez

[2022-02-14 12:56] MoeNick commented on #42
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/All-Devs-61644589b92edf0016f6999c/issues/Giveth/giveth-io-typescript/42?planning-poker) with ZenHub @mateodaza @MohammadPCh @pkretzschmar @RamRamez

[2022-02-14 12:57] MoeNick commented on #50
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/All-Devs-61644589b92edf0016f6999c/issues/Giveth/giveth-io-typescript/50?planning-poker) with ZenHub @divine-comedian @RamRamez

[2022-02-14 17:30] MoeNick commented on #86
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/All-Devs-61644589b92edf0016f6999c/issues/Giveth/giveth-io-typescript/86?planning-poker) with ZenHub @pkretzschmar

[2022-02-15 13:45] MoeNick commented on #61
**Testing on https://giveth-dapps-v2.vercel.app/project/acc1-active-project** @pkretzschmar

After I click on deactivating, it asks me for sign my wallet, and after I sign, nothing happens.
![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/4fdc396e-4d5e-4376-b50f-d3b8aaa835f4)

[2022-02-15 19:25] #45 closed, assigned to pkretzschmar

[2022-02-15 20:33] pkretzschmar commented on #50
@MoeNick I was taking a look on the page, and there is some content missing (a lot of _Lorem ipsum_ stuff there). Also, it would be nice to know the team members that are missing right now!

[2022-02-16 07:02] MoeNick commented on #50
@pkretzschmar

for **About us Tab**, pls have this text:

Giveth is a community focused on Building the Future of Giving using blockchain technology. Our intention is to support and reward the funding of public goods by creating open, transparent and free access to the revolutionary funding opportunities available within the Ethereum ecosystem.

Giveth is building a culture of giving that empowers

[2022-02-17 19:59] divine-comedian commented on #50
I began updating the team page on the typescript version based on the info in our contentful you can find it on
https://github.com/Giveth/giveth-io-typescript/tree/mitch-text-1

there's some updates in the commit in there on the about page which I think is no longer relevant however the team page content is good.

[2022-02-18 18:10] pkretzschmar commented on #92
Hey, I update the partner's page when I fixed the URL's on Giveth/giveth-dapps-v2#59

[2022-02-21 12:47] MoeNick commented on #86
Related https://github.com/Giveth/ui-design-system/pull/29

[2022-02-21 12:54] MoeNick commented on #32
@mohammadranjbarz would u pls link the new services for preview (draft) service ?

[2022-02-21 12:55] mohammadranjbarz commented on #32
https://github.com/Giveth/impact-graph/issues/361#issuecomment-1046499792

@RamRamez  please ask me if you had any qestion

[2022-02-21 16:39] MoeNick commented on #68
@mohammadranjbarz @CarlosQ96 pls provide uoload picture endpoint for cherick.

[2022-02-21 17:05] mosaeedi commented on #88
Number's not visible on white backgrounds

[2022-02-21 20:40] MoeNick commented on #68
I assigned it to @CarlosQ96 , he will let @MohammadPCh use the old endpoint with some considerations.

[2022-02-22 11:57] mosaeedi commented on #88
![Screen Shot 2022-02-22 at 2.55.49 PM.png](https://images.zenhubusercontent.com/61dd85b9a1419a0fc83f15d1/fa6ea0c4-d8a7-49cb-a855-aaa3f82a2b6d)

The structure changed, so user can see like and share button all the time,
the color changed and added a drop shadow to make it visible on all background colors.

[2022-02-22 11:57] mosaeedi commented on #88
@markoprljic  @MoeNick

[2022-02-28 09:47] MoeNick commented on #32
**QA issues:**

- [x] 1- ON EDIT, FOR NOT PICTURE, LOAD UPLOAD
- [x] 2- Cherik component on picture loading - especially deleting pictures
- [x] 3- Remove errors of empty fields on the bottom of the page.
- [x] 4- Styling: submit / pressed , hover ... (text boxes and below buttons)
- [x] 5- Informative Modal should be based on design, removing Got IT .
- [x] after closing move the title of modal b

[2022-02-28 09:52] MoeNick commented on #68
**QAing points:**

- [x] 1- I cant get back when I click on I'll do it later

![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/2c94d8f7-4375-4693-8eac-3b8004870e13)

- [x] 2- Sign-in should be required before onboarding

- [x] 3- Validation on email & website is mandatory, client-side errors should be based on design system.

- [x] 4- on picture loading, when clicking on

[2022-02-28 13:27] #53 closed, assigned to nobody

[2022-02-28 13:29] #81 closed, assigned to mateodaza

[2022-02-28 13:30] MoeNick commented on #74
Giving Hearts in Projects page and for updates is still missing

[2022-02-28 15:33] MoeNick commented on #48
Filter by only accepts GIV is not working

[2022-03-01 22:36] RamRamez commented on #32
Related to this [PR](https://github.com/Giveth/giveth-dapps-v2/pull/118)

[2022-03-02 12:36] MoeNick commented on #68
I can't approve  # 5 and 6. I can share my experience @MohammadPCh whenever you are ready pls let me know.
After I edit my profile, I can see success message and the background page is not getting refreshed that I know I changed my profile.

[2022-03-02 15:06] markoprljic commented on #88
Great! Thanks @mosaeedi

[2022-03-02 15:28] MoeNick commented on #88
Alteady implemented

[2022-03-07 15:48] #89 closed, assigned to nobody

[2022-03-15 07:06] #49 closed, assigned to mohammadranjbarz

[2022-03-15 07:06] #88 closed, assigned to nobody

[2022-03-15 07:06] #84 closed, assigned to mohammadranjbarz

[2022-03-15 07:06] #51 closed, assigned to mosaeedi, laurenluz, MoeNick

[2022-03-15 07:07] #56 closed, assigned to RamRamez

[2022-03-15 07:07] #86 closed, assigned to pkretzschmar

[2022-03-15 07:08] #90 closed, assigned to mateodaza

[2022-03-15 07:08] #42 closed, assigned to pkretzschmar

[2022-03-15 07:08] #41 closed, assigned to MohammadPCh, CarlosQ96

[2022-03-15 07:09] #46 closed, assigned to RamRamez

[2022-03-15 07:09] #54 closed, assigned to mateodaza

[2022-03-15 07:09] #38 closed, assigned to pkretzschmar

[2022-03-15 07:10] #10 closed, assigned to RamRamez

[2022-03-15 07:10] #85 closed, assigned to pkretzschmar

[2022-03-15 07:10] #61 closed, assigned to nobody

[2022-03-15 07:10] #34 closed, assigned to aminlatifi

[2022-03-15 07:11] #11 closed, assigned to RamRamez

[2022-03-15 07:13] #92 closed, assigned to pkretzschmar

[2022-03-15 07:13] #48 closed, assigned to pkretzschmar

[2022-03-15 07:14] #32 closed, assigned to mateodaza, RamRamez

[2022-03-15 07:21] #62 closed, assigned to MohammadPCh, RamRamez

[2022-03-15 07:28] #50 closed, assigned to pkretzschmar, divine-comedian

[2022-03-15 07:28] #68 closed, assigned to MohammadPCh

[2022-03-15 07:31] #55 closed, assigned to nobody

[2022-03-18 13:51] markoprljic commented on #91
Reasigning @rodricastillo9013

[2022-03-21 12:54] rodricastillo9013 commented on #91
Hi! @laurenluz If they provide me with photographs, I could work a collage-style banner with Giveth elements and photographs.

@markoprljic I could reassign it to Jess

[2022-03-21 12:58] markoprljic commented on #91
@rodricastillo9013 Confirmed! Let's give it to Jes.

[2022-03-29 07:26] MoeNick commented on #91
Any updates in this issue @markoprljic @rodricastillo9013 ?

[2022-03-29 10:05] RamRamez commented on #83
@markoprljic @mosaeedi Shall I use this modal for dark theme too? Or we have another design for it?

[2022-03-29 13:29] rodricastillo9013 commented on #91
HI @MoeNick not yet, I have to see who can provide me with photos of the team to be able to make the collage, @laurenluz do you know who could help me?

[2022-03-29 13:41] laurenluz commented on #91
Hey @rodricastillo9013! There are photos of the team on the "About us" page under the "team" tab. Can you set up the collage though so that it is easy to add & remove people?

As our team changes, it would be nice to be able to change the collage.

The Team page is missing some faces also. I would suggest writing a message in the design channel, tagging " @ unicorn" and asking anyone who wants the

[2022-03-29 14:32] mosaeedi commented on #83
@RamRamez
The modal for the Dark theme is also added, please take a look.

Shortcut: [Link to Figma](https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=6531%3A137842)

[2022-03-31 17:53] rodricastillo9013 commented on #91
I'm working on this with a collaborator, jes, I'll upload here when I have news. thanks

[2022-04-06 12:05] #82 closed, assigned to MohammadPCh, mateodaza

[2022-04-06 12:59] rodricastillo9013 commented on #91
<img width="1455" alt="Section 1 - Hero" src="https://user-images.githubusercontent.com/61791380/161980010-87c268fe-c4ed-462e-8437-d6677ee0edb0.png">
Wydt Team?

[2022-04-06 13:23] markoprljic commented on #91
I LIKE!

[2022-04-06 15:48] laurenluz commented on #91
it's great!!!

[2022-04-10 16:39] #27 closed, assigned to nobody

[2022-04-10 16:39] #30 closed, assigned to nobody

[2022-04-10 16:39] #26 closed, assigned to nobody

[2022-04-10 16:40] #31 closed, assigned to nobody

[2022-04-10 16:42] #23 closed, assigned to nobody

[2022-04-10 16:43] #25 closed, assigned to nobody

[2022-04-10 16:43] #29 closed, assigned to nobody

[2022-04-10 16:44] #28 closed, assigned to nobody

[2022-04-10 16:44] #24 closed, assigned to nobody

[2022-04-10 16:48] #83 closed, assigned to RamRamez, MoeNick

[2022-04-20 10:01] Santigs opened #93 "PoignART team meeting"